<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Glassdoor Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Glassdoor Company Data</h1>
        <table class="table">
            <thead>
                <tr>
                    {% for col in cols %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col_index in range(cols|length) %}
                            <td>
                                {% if col_index == description_index %}
                                    {% set cell_value = row[col_index]|string %}
                                    {% if cell_value|length > 100 %}
                                        {{ cell_value[:100] }}...
                                        <a href="#" class="read-more" data-full-text="{{ cell_value }}">Read more</a>
                                    {% else %}
                                        {{ cell_value }}
                                    {% endif %}
                                {% else %}
                                    {{ row[col_index] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
